body {
    background-color: #F76C6C;
}

main {
    background-color: white;
    width : 95vw;
    height: 95vh;
    margin: auto;
}

ul {
    display: flex;
    justify-content: space-around;
    background-color: #F76C6C;
}

ul li {
    border: 15px solid #555;
}

ul li a {
    text-decoration: none;
    font-family: comic
    color: rgb(43, 21, 21);
    font-size: 1em
   
}
