body{
    font-size: 20px    
}

header{
    display: flex;
    position: fixed;
    height: 10vh; 
    background-color: white; 
}

.menu{
    height: 50%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.navBar{
    margin:10px;
    width: 100vw;    
}

.navBar ul{
    text-align:center;
    background-color:white; 
}

nav ul li  {
    text-decoration:none;
    display: inline-block;
    padding: 20px 40px; 
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;      
}

nav ul li a {
    font-size: 20px;
    color: black;
}


h1 a{
    text-align: center;
    display: flex;
    align-content: center;
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.7em;
    font-weight: bolder;
    margin-top: 25px;
    color: rgb(8, 8, 8);
}


main {
    height: 100%;
    padding-top: 20vh;
}


.container{       
    width: 80vw;
    margin: 50px;
}

.mainBox {

    display: flex;
    justify-content: center;
    align-content: space-between
}

.img_container {
    width:50%;
}

.img_container >img {
    width: 100%;
    margin: 15px;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin:25px;
}


.socialmedia img{
    margin: 5px;
    width: 3vw;
}

footer{
    margin-bottom: 5px;
    border: solid black 1px;
    text-align:center;
    background-color:white;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
}
   
h2{
font-family: 'Shadows Into Light', cursive;
font-size:1.8em;
font-weight: bolder;
}

body{
    cursor:wait;
  }

  @media(max-width:600px){
    
    header{
        position: fixed;
        display: flex;
        height: 5vh;
        
    }
    
    h1 a{
        font-size: 1.0em;
        
    }
    
    .container{
        width: 100vw;  
    }

    .mainBox {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        border: solid grey 2px;
        border-radius: 5px;
        background-color: rgba(233, 230, 230, 0.678);
    }
    .img_container >img {
        width: 90vw;
        margin: 0px;      
    }

    .socialmedia{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;    
    }

    .socialmedia img{
        margin: 5px;
        width: 15vw;
    }

    .img_container {
        width:80%;}
    }
    
    main {
        height: 90%;
        padding-top: 20vh;
        display: flex;
        justify-content: center;
    }

    .navBar ul{
        background-color:white; 
    }

    nav ul li  {
        text-decoration:none;
        display: inline-block;
        padding: 0.5vw;
        font-family: 'Shadows Into Light', cursive;
        font-weight: bolder; 
    }     

        h1 a{
            text-align: center;
            display: flex;
            width: 100VW;
            text-decoration: none;
            font-family: 'Shadows Into Light', cursive;
            font-size: 2em;
            font-weight: bolder;
            margin-top: 50px;
            color: rgb(8, 8, 8);
            background-color: white;
        }

    