body {
    background-color: #F76C6C;
}
header{
    background-color:#F76C6C;
    
}


.h1{
    color: azure;
    text-align: center;
    font-family: ;
    font-size: 50px;
}
main {
    background-color: white;
    width : 95vw;
    height: 85vh;
    margin: auto;
}

ul {
    display: flex;
    justify-content: space-around;
<<<<<<< HEAD
    height: 5vh;
    
    
}

.icones{
    display: flex;
    justify-content:flex-start;
    height: 3vh;
   
   
    
    
}



.logo{
    width: 15vw;
    height: 15vh;
    
}



footer{
    text-align: center;
    width: 90vw;
    margin-left: 20px;
    font-size: 10px;
    border-radius: 2px dotted yellow;
    
    
    
}

=======
    background-color: #F76C6C;
}

ul li {
    border: 15px solid #555;
}

ul li a {
    text-decoration: none;
    font-family: comic;
    color: rgb(43, 21, 21);
    font-size: 1em;
   
}
>>>>>>> 8e96947870445724efe88ebf7a24dc30bebed6d2
